# Postgres
POSTGRES_DB=course_database
POSTGRES_HOST=postgresdb_data
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@postgresdb_data:5432/course_database

#Logs
LOG_MAX_SIZE=100M
LOG_MAX_FILE=3
LOG_COMPRESS=true
#Judge0
MOCK_JUDGE0=false

JWT_SECRET_KEY=3c712763639e4b325564d276a22ac26206afd5206100c89c4800a4902f3033a9
