POSTGRES_HOST=postgresdb_data
POSTGRES_PORT=5431
POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=123
DATABASE_URL=postgresql://user:123@postgresdb_data:5431/database

LOG_MAX_SIZE=100M
LOG_MAX_FILE=3
LOG_COMPRESS=true