# Postgres
POSTGRES_DB=course_database
POSTGRES_HOST=postgresdb_data
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@postgresdb_data:5432/course_database

#Logs
LOG_MAX_SIZE=100M
LOG_MAX_FILE=3
LOG_COMPRESS=true