$background-color: #0D1117;
$background-secondary-color: #21262D;
$secondary-color: #8B5CF6;
$text-color: #C9D1D9;
$primary-color: #161B22;
$success-color: #2EA043;
$attempt-label-color: #FFB84D;
$time-label-color: #FF6B6B;