@use "styles/variables" as *;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter18pt-Medium.woff2') format('woff2');
  font-weight: 500;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  padding: 20px;
  background-color: $background-color;
}

